 <script>
$(function() {
	setTimeout(updateDonations, 20000);
});

function updateDonations () {
	var after = $("#donation-container :last-child").attr("data-time");
	$.getScript("/pages.js?after=" + after);
	setTimeout(updateDonations, 20000);
};
</script>


<div id="donation-container">

</div>
